ipython
ipdb
nose
nose-timer
coverage
flaky
nose2
pylint
sphinx<2.1.0
sphinx_rtd_theme
recommonmark
requests[security]
monkeyhex
keystone-engine
cvc4-solver
hypothesis
hypothesis-networkx
shellphish-afl==1.2.1
