# CI infrastructure
nose2
flaky
pylint
nose_skinny_report>=0.0.5

# Requirements to build angr doc
sphinx==2.3.1
sphinx_rtd_theme
myst-parser

# Lots of angr doc tests use monkeyhex
monkeyhex

# We frequently need upstream pyelftools fixes
git+https://github.com/eliben/pyelftools#egg=pyelftools

# Some old tests still depend on nose
nose

# CI doesn't support installing optional dependencies yet
minidump
pyxbe
sqlalchemy
pypcode
qtrace
cvc4-solver
