# CI infrastructure
nose2
flaky
pylint>=2.14.0
nose_skinny_report>=0.0.5

# Requirements to build angr doc
jinja2==3.0.3
sphinx==2.3.1
sphinx_rtd_theme
myst-parser

# Lots of angr doc tests use monkeyhex
monkeyhex

# We frequently need upstream pyelftools fixes
git+https://github.com/eliben/pyelftools#egg=pyelftools

# CI doesn't support installing optional dependencies yet
minidump
pyxbe
sqlalchemy
pypcode
qtrace
cvc4-solver
shellphish-afl
binsync
