ipython
ipdb
nose
nose-timer
coverage
flaky
git+https://github.com/ltfish/nose2.git#egg=nose2
pylint
sphinx==2.3.1
sphinx_rtd_theme
recommonmark
requests[security]
monkeyhex
keystone-engine
cvc4-solver
nose_skinny_report
shellphish-afl==1.2.1
git+https://github.com/eliben/pyelftools#egg=pyelftools
minidump
pyxbe
sqlalchemy
flaky
