name: angr Release

on:
  pull_request:
    paths:
      - .github/workflows/angr-release.yml
      - release-scripts/*
  schedule:
    - cron: "0 17 * * 2"
  workflow_dispatch:
    inputs:
      dry_run:
        description: "Dry run"
        default: true
        type: boolean
        required: false

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  REPOS: "binaries archinfo pyvex cle claripy angr angr-management"
  PACKAGES: "archinfo pyvex cle claripy angr angr-management"
  NATIVE_PACKAGES: "pyvex angr"
  PURE_PYTHON_PACKAGES: "archinfo cle claripy angr_management"
  CHECKOUT_DIR: repos

jobs:
  create:
    name: Create release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          persist-credentials: false
      - name: Configure git
        run: |
          git config --global user.name "angr-bot"
          git config --global user.email "angr-bot@users.noreply.github.com"
      - name: Add release key
        run: |
          mkdir -p ~/.ssh
          echo "${RELEASE_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
        env:
          RELEASE_KEY: ${{ secrets.RELEASE_KEY }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Checkout repos
        env:
          REPO_URL_BASE: ${{ secrets.RELEASE_KEY && 'git@github.com:angr' || 'https://github.com/angr' }}
        run: |
          mkdir -p "${{ env.CHECKOUT_DIR }}"
          echo "!.git" > ${{ env.CHECKOUT_DIR }}/.artifactignore

          for r in ${{ env.REPOS }}; do
            git clone ${{ env.REPO_URL_BASE }}/$r.git ${{ env.CHECKOUT_DIR }}/$r --depth=1 --recursive
          done
      - name: Create release commits
        run: release-scripts/create_release_commits.sh
      - name: Create sdists
        run: |
          mkdir sdist

          for i in ${{ env.PACKAGES }}; do
            uv build --sdist --out-dir=sdist --find-links=sdist ${{ env.CHECKOUT_DIR }}/$i
          done
      - name: Publish repo artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        with:
          name: repos
          path: repos
          if-no-files-found: error
          include-hidden-files: true
      - name: Publish sdist artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        with:
          name: sdist
          path: sdist
          if-no-files-found: error

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04-arm, windows-2022, macos-15-intel, macos-15]
      fail-fast: false
    needs: create

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Download sdists
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: sdist
          path: sdist
      - name: Setup MSVC build environment
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1
        if: startsWith(runner.os, 'windows')
      - name: Build wheels
        env:
          CIBW_BUILD_FRONTEND: "build[uv]"
          CIBW_BEFORE_ALL_LINUX: "curl -sSf https://sh.rustup.rs | sh -s -- -y && (command -v apk > /dev/null && apk add libucontext-dev || true)"
          CIBW_BEFORE_ALL_WINDOWS: "rustup toolchain install stable-x86_64-pc-windows-msvc && rustup default stable-x86_64-pc-windows-msvc && del \"C:\\Program Files\\Git\\usr\\bin\\link.exe\""
          CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-* cp314-*"
          CIBW_ARCHS: "native"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: "auditwheel repair --exclude libpyvex.so -w {dest_dir} {wheel}"
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: "delocate-wheel --require-archs {delocate_archs} --ignore-missing-dependencies -w {dest_dir} -v {wheel}"
          MACOSX_DEPLOYMENT_TARGET: "10.12"
        run: |
          mkdir -p wheels wheels_build
          pushd wheels_build

          # Set environment variables for cibuildwheel
          # Use python to get the absolute path to ../sdist
          export UV_FIND_LINKS="$(python -c "import os; print(os.path.abspath('../sdist'))")"

          export CIBW_ENVIRONMENT_LINUX="PATH=\$PATH:\$HOME/.cargo/bin UV_FIND_LINKS=/host$UV_FIND_LINKS"

          wheels_dir="$(python -c "import os; print(os.path.abspath('../wheels'))")"

          if [[ "$(uname -sp)" == "Linux x86_64" ]]; then
            for pkg in $PURE_PYTHON_PACKAGES; do
              uv build --wheel --out-dir "$wheels_dir" ../sdist/${pkg}-*
            done
          fi

          for pkg in $NATIVE_PACKAGES; do
            uvx cibuildwheel --output-dir "$wheels_dir" ../sdist/${pkg}-*
          done

          popd
      - name: Upload wheel artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        with:
          name: wheels-${{ matrix.os }}
          path: wheels
          if-no-files-found: error

  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04-arm, windows-2022, macos-15-intel, macos-15]
        python: ["3.10", "3.12"]
      fail-fast: false
    needs: build

    steps:
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v5
        with:
          python-version: ${{ matrix.python }}

      - name: Download wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-${{ matrix.os }}
          path: wheels

      - name: Download ubuntu x86_64 wheels artifact
        if: ${{ matrix.os != 'ubuntu-22.04' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-ubuntu-22.04
          path: wheels-ubuntu

      - name: Find
        run: find .

      - name: Test wheel install
        run: |
          python -m venv angr_venv
          source angr_venv/bin/activate &> /dev/null || source angr_venv/Scripts/activate
          export PIP_FIND_LINKS="wheels wheels-ubuntu"
          pip install --only-binary=pyvex,angr angr

      - name: Test angr import
        run: |
          source angr_venv/bin/activate &> /dev/null || source angr_venv/Scripts/activate
          python -c "import angr; print('angr imports!')"

  publish:
    runs-on: ubuntu-22.04
    needs: verify
    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          persist-credentials: false

      - name: Configure git
        run: |
          git config --global user.name "angr-bot"
          git config --global user.email "angr-bot@users.noreply.github.com"

      - name: Add release key
        run: |
          mkdir -p ~/.ssh
          echo "${RELEASE_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
        env:
          RELEASE_KEY: ${{ secrets.RELEASE_KEY }}

      # Git release commits
      - name: Download repos artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: repos
          path: repos

      - name: Publish release commits
        run: |
          for i in $(ls ${{ env.CHECKOUT_DIR }}); do
            ref_to_push=$(git -C ${{ env.CHECKOUT_DIR }}/$i describe --tags | head -n 1)
            if [ "${{ env.DRY_RUN }}" == "false" ]; then
              git -C ${{ env.CHECKOUT_DIR }}/$i push origin "$ref_to_push"
            fi
          done
        env:
          DRY_RUN: ${{ github.event_name != 'schedule' && github.event.inputs.dry_run != 'false' }}

      - name: Bump versions on master
        run: release-scripts/bump_versions.sh
        env:
          DRY_RUN: ${{ github.event_name != 'schedule' && github.event.inputs.dry_run != 'false' }}

      # PyPI artifacts
      - name: Create artifacts and dist directories
        run: mkdir artifacts dist

      - name: Download sdist artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: sdist
          path: artifacts/sdist
      - name: Download Ubuntu wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-ubuntu-22.04
          path: artifacts/wheels-ubuntu-22.04
      - name: Download Ubuntu ARM wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-ubuntu-24.04-arm
          path: artifacts/wheels-ubuntu-24.04-arm
      - name: Download Windows wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-windows-2022
          path: artifacts/wheels-windows-2022
      - name: Download macOS x86_64 wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-macos-15-intel
          path: artifacts/wheels-macos-15-intel
      - name: Download macOS arm64 wheels artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
        with:
          name: wheels-macos-15
          path: artifacts/wheels-macos-15

      - name: Collect all packages to upload
        run: find artifacts \( -name "*.tar.gz" -o -name "*.whl" \) -exec mv {} dist/ \;

      - name: Publish distribution to PyPI
        if: github.event_name == 'schedule' || github.event.inputs.dry_run == 'false'
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          verbose: true
