name: Publish angr ci docker image

on:
  push:
    branches: ["master"]
  pull_request:
  workflow_dispatch:

jobs:
  update:
    name: Build and publish angr docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
      - name: Build ci image
        run: |
          docker build -t angr/ci:3 ci-image
      - name: Login to docker hub
        if: github.event_name != 'pull_request'
        run: echo $DOCKER_PASSWORD | docker login -u angrbot --password-stdin
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_API_KEY }}
      - name: Push ci image
        run: docker push angr/ci:3
        if: github.event_name != 'pull_request'
