name: Publish angr ci docker image

on:
  push:
    branches: ["master"]
    paths:
      - "ci-image/**"
      - ".github/workflows/publish-ci-image.yml"
  pull_request:
    paths:
      - "ci-image/**"
      - ".github/workflows/publish-ci-image.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    name: Build and publish angr docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Build ci image
        run: |
          docker build -t angr/ci:3 ci-image
      - name: Login to docker hub
        if: github.event_name != 'pull_request'
        run: echo $DOCKER_PASSWORD | docker login -u angrbot --password-stdin
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_API_KEY }}
      - name: Push ci image
        run: docker push angr/ci:3
        if: github.event_name != 'pull_request'
